In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('students_placement.csv')

In [3]:
df.shape

(300, 4)

In [4]:
df.sample(5)

     cgpa   iq  profile_score  placed
171  8.71   88             58       1
192  5.60  109             57       0
86   7.31  104             43       1
126  6.73  101             70       0
145  6.13  107             78       0

In [5]:
X = df.drop(columns=['placed'])
y = df['placed']

In [6]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [7]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
scaler = StandardScaler()
X_train_trf = scaler.fit_transform(X_train)
X_test_trf = scaler.transform(X_test)
accuracy_score(y_test,
               LogisticRegression()
               .fit(X_train_trf,y_train)
               .predict(X_test_trf))

0.8833333333333333

In [8]:
from sklearn.ensemble import RandomForestClassifier
accuracy_score(y_test,RandomForestClassifier().fit(X_train,y_train).predict(X_test))

0.8666666666666667

In [9]:
from sklearn.svm import SVC
accuracy_score(y_test,SVC(kernel='rbf').fit(X_train,y_train).predict(X_test))

0.9333333333333333

In [10]:
svc = SVC(kernel='rbf')
svc.fit(X_train,y_train)

SVC()

In [11]:
rf = RandomForestClassifier()
rf.fit(X_train,y_train)

RandomForestClassifier()

In [12]:
import pickle 
pickle.dump(svc,open('model.pkl','wb'))

In [14]:
df.head()

   cgpa   iq  profile_score  placed
0  5.97  106             61       0
1  6.83  113             77       0
2  6.60  110             61       0
3  5.54  113             68       0
4  6.84  102             67       0

In [15]:
rf.predict(np.array([4.5,56,10]).reshape(1,3))

C:\Users\Datamites\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)